rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{uid} {
      allow read: if isSignedIn();
      allow create: if request.auth.uid == uid;
      allow update: if request.auth.uid == uid;
      allow delete: if false;
    }

    match /projects/{projectId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow update: if request.auth.uid == resource.data.ownerId || request.auth.uid in resource.data.members.map(m => m.uid);
      allow delete: if request.auth.uid == resource.data.ownerId;
      match /chat/{msgId} {
        allow read: if isSignedIn();
        allow create: if request.auth.uid != null && (exists(/databases/$(database)/documents/projects/$(projectId)) &&
            (request.auth.uid == resource.data.ownerId || request.auth.uid in get(/databases/$(database)/documents/projects/$(projectId)).data.members.map(m => m.uid)));
        allow delete: if false;
      }
    }

    match /posts/{postId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow update, delete: if request.auth.uid == resource.data.authorId;
      match /comments/{cId} {
        allow read: if isSignedIn();
        allow create: if isSignedIn();
        allow update, delete: if request.auth.uid == resource.data.authorId;
      }
    }

    match /events/{id} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow update, delete: if request.auth.uid == resource.data.organizerId;
    }
  }
}
